= div_for user do
  = user.name
  .meta
    - if current_user.users_followed.include? user
      = link_to 'Following', user_following_path(current_user, user.id), method: 'delete', class: 'btn btn-primary following'
    - else
      = link_to 'Follow', '#', class: 'btn followable'
